.card{
    display: grid;
    grid-template-areas: 'primis'
                         'tercis'
                         'segus';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.primero{
    background-color: yellowgreen;
    grid-area: primis;
}
.segundo{
    background-color: red;
    grid-area: segus;
}
.tercer{
    background-color: blue;
    grid-area: tercis;
}